* {
	margin:0px;
	padding:0px;
}

body {
	height:100%;
	font-family:Arial;
	color:$grey2;
	position:relative;
	background:$background;
	overflow-x:hidden;
}

.left {
	float:left;
}

.right {
	float:right;
}

.clear {
	clear:both;
}