@import 'colors';
@import 'mixins';
@import 'common';

/********************************************************/
/* Topbar 												*/
/********************************************************/
#topbar {
	padding:10px 30px;
	height:51px;
	position:relative;
	line-height:71px;
	font-size:20px;
	background:$grey3;
	border-bottom:1px solid $grey4;

	#navigation {
		line-height:51px;

		.icon {
			font-size:20px;

			&#l-sb-btn {
				margin-right:20px;
			}

			&#next, &#previous {
				font-size:30px;
			}

			&.left {
				margin-right:20px;
			}

			&:hover {
				cursor:pointer;
			}
		}
	}

	#date {
		margin-left:-100px;
		width:300px;
		position:absolute;
		top:0px;
		left:50%;
		text-align:center;

		#year {
			font-weight:bold;
		}
	}
}

/********************************************************/
/* Schedule												*/
/********************************************************/
#wrapper {
	width:100%;

	#schedule-overview {
		padding:20px;

		#time {
			padding:40px 10px 0px 0px;
			width:70px;
			float:left;

			.hour {
				height:40px;
				line-height:40px;
				font-size:18px;
				text-align:right;
			}
		}

		#schedule {
			width:100%;
			position:relative;

			#hour-indicators {
				padding-top:40px;
				width:100%;
				position:absolute;
				top:0px;
				z-index:-1;

				.hour-indicator {
					margin:0px 0px 20px 95px;
					height:19px;
					border-bottom:1px solid $grey5;
				}
			}

			#days {
				margin-left:70px;

				.day {
					width:12%;
					height:inherit;

					.day-indicator {
						height:40px;
						margin-bottom:20px;
						line-height:40px;
						font-size:20px;
						text-align:center;

						&.today {
							color:$purple;
						}
					}

					.day-schedule {
						height:960px;
						background:$purple;
						overflow:hidden;
						position:relative;
						@include border-radius(5px);

						.schedule-item {
							width:100%;
							position:absolute;
							left:0px;
							overflow:hidden;
							background:$blue;
							border:1px solid $blue2;
							@include border-radius(5px);

							.schedule-name {
								padding:5px 10px 5px 10px;
								font-size:12px;
							}
						}
					}
				}

				.day-spacing {
					width:2.1%;
					height:1px;
				}
			}
		}
	}
}

/********************************************************/
/* Sidebars												*/
/********************************************************/
.sidebar {
	width:238px;
	position:absolute;
	top:72px;
	bottom:0px;
	background:white;
	@include transition(0.5s);

	#top {
		padding:10px 30px 0px 30px;
		height:61px;
		line-height:51px;
		font-size:16px;

		#title {
			padding-right:20px;
			height:inherit;
			border-bottom:1px solid $grey4;
		}

		#close {
			position:absolute;
			right:30px;
			font-size:20px;
		}
	}

	&.collapsed {
		@include transition(0.5s);
	}
}

#tm-r-sb {
	right:0px;
	border-left:1px solid $grey5;

	#team-members {

		.team-member {
			padding:20px 30px;
			font-size:14px;

			.profile-icon {
				width:40px;
				height:40px;
				overflow:hidden;
				text-align:center;  
				@include border-radius(40px);

				.profile-photo {
					margin:-10px 0px 0px -10px;
					width:60px;
					height:60px;
				}
			}

			.info {
				margin-left:50px;

				.name {
					font-weight:bold;
				}

				.job-name {
					margin-top:5px;
				}
			}

			&.selected {
				color:white;
				background:$purple2;
			}

			&:hover {
				cursor:pointer;
			}
		}
	}

	&.collapsed {
		right:-238px;
	}
}

#c-l-sb {
	width:275px;
	left:0px;
	border-right:1px solid $grey5;

	&.collapsed {
		left:-275px;
	}

	#calendar {
		padding:10px 30px 0px 30px;

		#calendar-navigation {
			height:40px;
			font-size:26px;
			line-height:40px;
			position:relative;

			#month {
				margin-left:-79px;
				width:158px;
				font-size:12px;
				position:absolute;
				left:50%;
				text-align:center;
			}
		}

		#calendar-container {
			width:210px;

			#month {
				width:175px;
				float:left;
			}

			.day {
				width:23px;
				height:23px;
				text-align:center;
				font-size:12px;
				line-height:23px;
				background:$grey3;
				border:1px solid $grey4;

				&.legend {
					background:none;
					border:1px solid transparent;
				}

				&.other-month {
					opacity:0.2;
				}

				&.active {

					&:hover {
						cursor:pointer;
					}

					&.current {
						background:$blue;
						border:1px solid $blue2;
					}
				}
			}

			#week-numbers {
				padding:25px 10px 0px 0px;
				width:25px;
				float:left;
			}
		}
	}
}

/********************************************************/
/* Add Schedule											*/
/********************************************************/
#new-schedule {
	margin:-200px 0px 0px -200px;
	width:400px;
	height:400px;
	position:fixed;
	top:50%;
	left:50%;
	overflow:hidden;
	background:$grey3;
	@include border-radius(10px);

	#top {
		padding:10px 30px 0px 30px;
		height:61px;
		line-height:51px;
		font-size:16px;
		background:white;
		border-bottom:1px solid $grey4;

		#title {
			padding-right:20px;
			height:inherit;
		}

		#close {
			position:absolute;
			right:30px;
			font-size:20px;
		}
	}

	#schedule-options {
		padding:10px 30px 10px 30px;

		.input {
			margin:0px 0px 20px 0px;

			label {
				margin:0px 0px 5px 0px;
				min-height:15px;
				line-height:15px;
				font-size:12px;
				display:block;
			}

			input[type=text] {
				padding:5px 10px 5px 10px;
				width:320px;
				font-size:14px;
			}

			select {
				padding:5px 10px 5px 10px;
				width:160px;
				font-size:14px;
			}
		}
	}

	&.collapsed {
		@include transition(0.5s);
	}
}

/********************************************************/
/* Settings												*/
/********************************************************/
#settings-container {
	margin:0px auto 0px auto;
	width:800px;

	#profile-picture {
		width:200px;
		height:200px;
		text-align:center;
		text-transform:uppercase;
		overflow:hidden;
		position:relative;
		border:1px solid $grey1;

		#drop-container {
			padding-top:70px;
			width:200px;
			height:130px;
			background:rgba(0, 0, 0, 0.5);
			color:white;
			opacity:0;

			&:hover {
				opacity:1;
			}

			span {
				margin:10px auto 0px auto;
				padding:12px 26px 12px 26px;
				font-size:14px;
				color:$grey2;
				display:inline-block;
				background:$blue;

				&:hover {
					cursor:pointer;
				}
			}
		}

		input[type=file] {
			display:none;
		}

		#profile-photo {
			width:200px;
			height:200px;
			position:absolute;
			top:0px;
			left:0px;
			z-index:-1;
		}
	}
}