@import 'colors';
@import 'mixins';
@import 'common';

#topbar {
	padding:10px 30px;
	height:51px;
	position:relative;
	line-height:71px;
	font-size:20px;
	background:$grey3;
	border-bottom:1px solid $grey4;

	#navigation {
		line-height:51px;
		font-size:30px;

		#previous {
			margin-right:30px;

			&:hover {
				cursor:pointer;
			}
		}

		#next {

			&:hover {
				cursor:pointer;
			}
		}
	}

	#date {
		margin-left:-100px;
		width:300px;
		position:absolute;
		top:0px;
		left:50%;
		text-align:center;

		#year {
			font-weight:bold;
		}
	}
}

#wrapper {
	width:100%;

	#schedule-overview {
		padding:20px;

		#time {
			padding:40px 10px 0px 0px;
			width:70px;
			float:left;

			.hour {
				height:40px;
				line-height:40px;
				font-size:18px;
				text-align:right;
			}
		}

		#schedule {
			width:100%;
			position:relative;

			#hour-indicators {
				padding-top:40px;
				width:100%;
				position:absolute;
				top:0px;
				z-index:-1;

				.hour-indicator {
					margin:0px 0px 20px 95px;
					height:19px;
					border-bottom:1px solid $grey5;
				}
			}

			#days {
				margin-left:70px;

				.day {
					width:12%;
					height:inherit;

					.day-indicator {
						height:40px;
						margin-bottom:20px;
						line-height:40px;
						font-size:20px;
						text-align:center;

						&.today {
							color:$purple;
						}
					}

					.day-schedule {
						height:960px;
						background:$purple;
						@include border-radius(5px);
					}
				}

				.day-spacing {
					width:2.1%;
					height:1px;
				}
			}
		}
	}
}

#sidebar {
	width:238px;
	position:absolute;
	top:0px;
	bottom:0px;
	right:0px;
	background:white;
	border-left:1px solid $grey5;
	@include transition(0.5s);

	#top {
		padding:10px 30px 0px 30px;
		height:61px;
		line-height:51px;
		font-size:16px;

		#icon {
			position:absolute;
			left:-50px;
			font-size:20px;

			&:hover {
				cursor:pointer;
			}
		}

		#title {
			padding-right:20px;
			height:inherit;
			border-bottom:1px solid $grey4;
		}

		#close {
			position:absolute;
			right:40px;
			font-size:20px;
			color:$grey4;

			&:hover {
				cursor:pointer;
			}
		}
	}
}

#sidebar.collapsed {
	right:-238px;
	@include transition(0.5s);
}